body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-color: #717579;
  --icon-color: #4285f4;
  --header-size: 1rem;
  --text-size: 0.8rem;
}
* {
  scrollbar-width: thin;
  scrollbar-color: darkgrey slategrey;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 0.6rem;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 3rem;
  outline: 1px solid slategrey;
}
